.App {
  text-align: center;
}
body{
  overflow: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav {
  color: rgb(247 244 244 / 90%);
}
.dashboardimg{
  max-width: 100%;
  min-width: 100%;
  max-height: 90vh;
  min-height: 90vh;
}
.login{
  width: 100vw;
  height: 100vh;
  /* background-color: bisque; */
}
.login img{
  max-width: 100%;
  min-height: 100vh;
}
.login-form{
  /* background-color: #f2f2f2; */
  padding: 50px;
  width: 80%;
  margin: auto;
  text-align: center;
}
.login-form input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: gray
}
input:focus {
  border-color:gray;
}
.login-form .formbtn{
  border-radius: 10px;
  padding: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
